<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmu.uacs.association.mapper.ApplicationMapper">
  <resultMap id="BaseResultMap" type="com.jmu.uacs.association.bean.Application">
    <id column="application_id" jdbcType="INTEGER" property="applicationId" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="intention_department_name" jdbcType="VARCHAR" property="intentionDepartmentName" />
    <result column="self_profile" jdbcType="VARCHAR" property="selfProfile" />
    <result column="join_purpose" jdbcType="VARCHAR" property="joinPurpose" />
    <result column="view_of_association" jdbcType="VARCHAR" property="viewOfAssociation" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
<!--  List<ApplicationResponseVO> getApplicationList(Integer associationId);-->
  <select id="getApplicationList" resultType="com.jmu.uacs.vo.response.ApplicationResponseVO">
    SELECT
      a.application_id applicationId,
      a.intention_department intentionDepartment,
      a.self_profile selfProfile,
      a.join_purpose joinPurpose,
      a.view_of_association viewOfAssociation,
      a.application_time applicationTime,
      a.state,
      a.interview_time interviewTime,
      a.interview_address interviewAddress,
      a.user_id userId,
      u.name,
      r.association_id associationId,
      ass.association_name associationName
    FROM
      application a
        INNER JOIN recruitment r ON a.recruitment_id = r.recruitment_id
        INNER JOIN `user` u ON r.user_id = u.user_id
        INNER JOIN association ass ON ass.association_id = r.association_id
    WHERE
      1 =1
      AND r.association_id IN
    <foreach collection="associationIds" item="associationId" open="(" separator="," close=")">
      #{associationId}
    </foreach>
  </select>

<!--  ApplicationResponseVO getApplicationDetail(@Param("applicationId") Integer applicationId);-->
  <select id="getApplicationDetail" parameterType="java.lang.Integer" resultType="com.jmu.uacs.vo.response.ApplicationResponseVO">
    SELECT
      a.application_id applicationId,
      a.intention_department intentionDepartment,
      a.self_profile selfProfile,
      a.join_purpose joinPurpose,
      a.view_of_association viewOfAssociation,
      a.application_time applicationTime,
      a.state,
      a.user_id userId,
      u.name,
      r.association_id associationId,
      ass.association_name associationName
    FROM
        application a
    INNER JOIN recruitment r ON a.recruitment_id = r.recruitment_id
    INNER JOIN `user` u ON r.user_id = u.user_id
    INNER JOIN association ass ON ass.association_id = r.association_id
    WHERE
        1 =1
    AND a.application_id = #{applicationId}
  </select>


  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    application_id, photo_url, intention_department_name, self_profile, join_purpose, 
    view_of_association, state, user_id
  </sql>
  <select id="selectByExample" parameterType="com.jmu.uacs.association.bean.ApplicationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from application
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from application
    where application_id = #{applicationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from application
    where application_id = #{applicationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jmu.uacs.association.bean.ApplicationExample">
    delete from application
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jmu.uacs.association.bean.Application">
    insert into application (application_id, photo_url, intention_department_name, 
      self_profile, join_purpose, view_of_association, 
      state, user_id)
    values (#{applicationId,jdbcType=INTEGER}, #{photoUrl,jdbcType=VARCHAR}, #{intentionDepartmentName,jdbcType=VARCHAR}, 
      #{selfProfile,jdbcType=VARCHAR}, #{joinPurpose,jdbcType=VARCHAR}, #{viewOfAssociation,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jmu.uacs.association.bean.Application">
    insert into application
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationId != null">
        application_id,
      </if>
      <if test="photoUrl != null">
        photo_url,
      </if>
      <if test="intentionDepartmentName != null">
        intention_department_name,
      </if>
      <if test="selfProfile != null">
        self_profile,
      </if>
      <if test="joinPurpose != null">
        join_purpose,
      </if>
      <if test="viewOfAssociation != null">
        view_of_association,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationId != null">
        #{applicationId,jdbcType=INTEGER},
      </if>
      <if test="photoUrl != null">
        #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="intentionDepartmentName != null">
        #{intentionDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="selfProfile != null">
        #{selfProfile,jdbcType=VARCHAR},
      </if>
      <if test="joinPurpose != null">
        #{joinPurpose,jdbcType=VARCHAR},
      </if>
      <if test="viewOfAssociation != null">
        #{viewOfAssociation,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jmu.uacs.association.bean.ApplicationExample" resultType="java.lang.Long">
    select count(*) from application
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update application
    <set>
      <if test="record.applicationId != null">
        application_id = #{record.applicationId,jdbcType=INTEGER},
      </if>
      <if test="record.photoUrl != null">
        photo_url = #{record.photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.intentionDepartmentName != null">
        intention_department_name = #{record.intentionDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.selfProfile != null">
        self_profile = #{record.selfProfile,jdbcType=VARCHAR},
      </if>
      <if test="record.joinPurpose != null">
        join_purpose = #{record.joinPurpose,jdbcType=VARCHAR},
      </if>
      <if test="record.viewOfAssociation != null">
        view_of_association = #{record.viewOfAssociation,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update application
    set application_id = #{record.applicationId,jdbcType=INTEGER},
      photo_url = #{record.photoUrl,jdbcType=VARCHAR},
      intention_department_name = #{record.intentionDepartmentName,jdbcType=VARCHAR},
      self_profile = #{record.selfProfile,jdbcType=VARCHAR},
      join_purpose = #{record.joinPurpose,jdbcType=VARCHAR},
      view_of_association = #{record.viewOfAssociation,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jmu.uacs.association.bean.Application">
    update application
    <set>
      <if test="photoUrl != null">
        photo_url = #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="intentionDepartmentName != null">
        intention_department_name = #{intentionDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="selfProfile != null">
        self_profile = #{selfProfile,jdbcType=VARCHAR},
      </if>
      <if test="joinPurpose != null">
        join_purpose = #{joinPurpose,jdbcType=VARCHAR},
      </if>
      <if test="viewOfAssociation != null">
        view_of_association = #{viewOfAssociation,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where application_id = #{applicationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jmu.uacs.association.bean.Application">
    update application
    set photo_url = #{photoUrl,jdbcType=VARCHAR},
      intention_department_name = #{intentionDepartmentName,jdbcType=VARCHAR},
      self_profile = #{selfProfile,jdbcType=VARCHAR},
      join_purpose = #{joinPurpose,jdbcType=VARCHAR},
      view_of_association = #{viewOfAssociation,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where application_id = #{applicationId,jdbcType=INTEGER}
  </update>
</mapper>