<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmu.uacs.association.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.jmu.uacs.association.bean.Role">
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_type" jdbcType="VARCHAR" property="roleType"/>
    </resultMap>

    <!--  mysql-->
    <!--
      根据roleId查询角色拥有的权限
      List<Permission> getPermissionIdsByRoleId(@Param("roleId")Integer roleId, @Param("isDel")Integer isDel);
      -->
    <select id="getPermissionIdsByRoleId" resultType="com.jmu.uacs.bean.Permission" parameterType="java.lang.Integer">
        SELECT
            tp.permission_id as permissionId,
            tp.title,
            tp.route_path as routePath,
            tp.grade,
            tp.type,
            tp.p_id as pId
            FROM permission tp
            WHERE
                tp.is_del = #{isDel}
                AND tp.permission_id
                    IN (SELECT trp.permission_id FROM role_permission trp WHERE trp.role_id = #{roleId})
    </select>

    <!--    int insertRolePermissionIds(@Param("roleId")Integer roleId, @Param("permissionIds")List<Integer> permissionIds);     -->
    <insert id="insertRolePermissionIds">
        insert into role_permission(role_id,permission_id)
        values
        <foreach collection="permissionIds" item="permissionId" separator=",">
            (#{roleId},#{permissionId})
        </foreach>
    </insert>


    <!--    List<RoleRespVo> getRoleListByUserId(@Param("userId")String userId, @Param("isDel") Integer isDel);-->
    <select id="getRoleListByUserId" resultType="com.jmu.uacs.vo.response.RoleRespVo">
        SELECT
            tur.role_id as roleId,
            tur.association_id as associationId,
            tr.role_name as roleName,
            tr.role_type as roleType,
            ta.association_name as associationName
        FROM
            user_role tur
        LEFT JOIN
            role tr
        ON tur.role_id = tr.role_id
        LEFT JOIN
            association ta
        ON ta.association_id = tur.association_id
        where tur.user_id = #{userId}
        AND tr.is_del = #{isDel}
    </select>

    <!--  MBG-->
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    role_id, role_name, role_type
  </sql>
    <select id="selectByExample" parameterType="com.jmu.uacs.association.bean.RoleExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from role
        where role_id = #{roleId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.jmu.uacs.association.bean.RoleExample">
        delete from role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.jmu.uacs.association.bean.Role">
    insert into role (role_id, role_name, role_type
      )
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleType,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.jmu.uacs.association.bean.Role">
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="roleType != null">
                role_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleType != null">
                #{roleType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.jmu.uacs.association.bean.RoleExample" resultType="java.lang.Long">
        select count(*) from role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update role
        <set>
            <if test="record.roleId != null">
                role_id = #{record.roleId,jdbcType=INTEGER},
            </if>
            <if test="record.roleName != null">
                role_name = #{record.roleName,jdbcType=VARCHAR},
            </if>
            <if test="record.roleType != null">
                role_type = #{record.roleType,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update role
        set role_id = #{record.roleId,jdbcType=INTEGER},
        role_name = #{record.roleName,jdbcType=VARCHAR},
        role_type = #{record.roleType,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.jmu.uacs.association.bean.Role">
        update role
        <set>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleType != null">
                role_type = #{roleType,jdbcType=VARCHAR},
            </if>
        </set>
        where role_id = #{roleId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jmu.uacs.association.bean.Role">
    update role
    set role_name = #{roleName,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>