<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmu.uacs.association.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.jmu.uacs.association.bean.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="self_like" jdbcType="VARCHAR" property="selfLike" />
    <result column="self_profile" jdbcType="VARCHAR" property="selfProfile" />
    <result column="personal_signature" jdbcType="VARCHAR" property="personalSignature" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="can_view" jdbcType="INTEGER" property="canView" />
    <result column="can_del" jdbcType="INTEGER" property="canDel" />
    <result column="tree_id" jdbcType="INTEGER" property="treeId" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>

  <!--  List<UserResponseVo> getUserByAssociationId(Integer associationId);-->
  <select id="getUserByAssociationId" parameterType="java.lang.Integer" resultType="com.jmu.uacs.vo.response.UserResponseVo">
    SELECT
      u.name,
      u.gender,
      u.birthday,
      u.nation,
      u.email,
      u.phone,
      u.wechat,
      u.qq,
      u.user_id userId,
      u.self_profile selfProfile,
      u.personal_signature personalSignature
    FROM
      `user` u
        INNER JOIN user_association ua ON ua.user_id = u.user_id
    WHERE
      ua.association_id = #{associationId}
  </select>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, password, name, gender, birthday, nation, email, phone, wechat, qq, 
    self_like, self_profile, personal_signature, state, can_view, can_del, tree_id, is_del
  </sql>
  <select id="selectByExample" parameterType="com.jmu.uacs.association.bean.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jmu.uacs.association.bean.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jmu.uacs.association.bean.User">
    insert into user (id, user_id, password, 
      name, gender, birthday, 
      nation, email, phone, 
      wechat, qq, self_like, 
      self_profile, personal_signature, state, 
      can_view, can_del, tree_id, 
      is_del)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{nation,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{wechat,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{selfLike,jdbcType=VARCHAR}, 
      #{selfProfile,jdbcType=VARCHAR}, #{personalSignature,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{canView,jdbcType=INTEGER}, #{canDel,jdbcType=INTEGER}, #{treeId,jdbcType=INTEGER}, 
      #{isDel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jmu.uacs.association.bean.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="selfLike != null">
        self_like,
      </if>
      <if test="selfProfile != null">
        self_profile,
      </if>
      <if test="personalSignature != null">
        personal_signature,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="canView != null">
        can_view,
      </if>
      <if test="canDel != null">
        can_del,
      </if>
      <if test="treeId != null">
        tree_id,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="selfLike != null">
        #{selfLike,jdbcType=VARCHAR},
      </if>
      <if test="selfProfile != null">
        #{selfProfile,jdbcType=VARCHAR},
      </if>
      <if test="personalSignature != null">
        #{personalSignature,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="canView != null">
        #{canView,jdbcType=INTEGER},
      </if>
      <if test="canDel != null">
        #{canDel,jdbcType=INTEGER},
      </if>
      <if test="treeId != null">
        #{treeId,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jmu.uacs.association.bean.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null">
        gender = #{record.gender,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null">
        birthday = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.nation != null">
        nation = #{record.nation,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.wechat != null">
        wechat = #{record.wechat,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null">
        qq = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.selfLike != null">
        self_like = #{record.selfLike,jdbcType=VARCHAR},
      </if>
      <if test="record.selfProfile != null">
        self_profile = #{record.selfProfile,jdbcType=VARCHAR},
      </if>
      <if test="record.personalSignature != null">
        personal_signature = #{record.personalSignature,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.canView != null">
        can_view = #{record.canView,jdbcType=INTEGER},
      </if>
      <if test="record.canDel != null">
        can_del = #{record.canDel,jdbcType=INTEGER},
      </if>
      <if test="record.treeId != null">
        tree_id = #{record.treeId,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=DATE},
      nation = #{record.nation,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      wechat = #{record.wechat,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      self_like = #{record.selfLike,jdbcType=VARCHAR},
      self_profile = #{record.selfProfile,jdbcType=VARCHAR},
      personal_signature = #{record.personalSignature,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=VARCHAR},
      can_view = #{record.canView,jdbcType=INTEGER},
      can_del = #{record.canDel,jdbcType=INTEGER},
      tree_id = #{record.treeId,jdbcType=INTEGER},
      is_del = #{record.isDel,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jmu.uacs.association.bean.User">
    update user
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="selfLike != null">
        self_like = #{selfLike,jdbcType=VARCHAR},
      </if>
      <if test="selfProfile != null">
        self_profile = #{selfProfile,jdbcType=VARCHAR},
      </if>
      <if test="personalSignature != null">
        personal_signature = #{personalSignature,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="canView != null">
        can_view = #{canView,jdbcType=INTEGER},
      </if>
      <if test="canDel != null">
        can_del = #{canDel,jdbcType=INTEGER},
      </if>
      <if test="treeId != null">
        tree_id = #{treeId,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jmu.uacs.association.bean.User">
    update user
    set user_id = #{userId,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      nation = #{nation,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      self_like = #{selfLike,jdbcType=VARCHAR},
      self_profile = #{selfProfile,jdbcType=VARCHAR},
      personal_signature = #{personalSignature,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      can_view = #{canView,jdbcType=INTEGER},
      can_del = #{canDel,jdbcType=INTEGER},
      tree_id = #{treeId,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>